@use "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Secular+One&display=swap");

$col: #1d9b88;

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5fff8;
}

h1 {
	font-family: "Secular One", sans-serif;
	font-weight: 700;
	font-size: 45px;
	color: $col;
	margin: 15px;
	margin-top: 45px;
	@include mixins.phone {
		font-size: 35px;
	}
}

h2 {
	font-family: "Secular One", sans-serif;
	background-color: $col;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 35px;
	border-radius: 10px;
	@include mixins.phone {
		font-size: 25px;
	}
}

.container {
	width: 80%;
	margin: auto;
	&__text-area {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		flex-wrap: wrap;

		@include mixins.landscape-tablet-and-smaller {
			flex-direction: column;
			align-items: center;
		}
	}

	&__alphabet {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 10px;
		margin-bottom: 45px;
		flex-wrap: wrap;

		@include mixins.laptop-and-smaller {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		@include mixins.phone {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.header-title {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

label {
	font-family: "Secular One", sans-serif;
	color: $col;
	font-size: 20px;
	margin-bottom: 10px;
}

textarea {
	resize: none;
	// box-sizing: border-box;
	border-radius: 6px;
	border: none;
	box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	font-family: "Lato", sans-serif;
	padding: 10px;
	font-size: 20px;
	// margin: 20px;
	margin-bottom: 30px;

	&:active {
		border: 1px solid $col;
	}
}

p {
	font-family: "Secular One", sans-serif;
	color: $col;
	font-size: 18px;
}

.alphabet-chart__letter {
	font-family: "Secular One", sans-serif;
	color: $col;
	font-size: 25px;
	font-weight: bold;
}

.text-area__input {
	display: flex;
	flex-direction: column;
	width: 49%;

	@include mixins.landscape-tablet-and-smaller {
		width: 90%;
	}
}

.container__alphabet > p {
	padding: 10px;
	border: 1px solid $col;
	border-radius: 4px;
}

.error-morse,
.error-latin {
	color: #f56e00;
}

h3 {
	font-family: "Secular One", sans-serif;
	color: $col;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}
